.one {
    background-color: orange;
}

.two {
    background-color: lightblue;
}

.three {
    background-color: lightgreen;
}

.four {
    background-color: yellow;
}

.five {
    background-color: purple;
}